html, body {
    overflow: hidden;
  }

.App {
    text-align: center;
}

div {
    margin: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.logo {
    padding-top: 10%;
}

.circ {
    cursor: pointer;
}
